<p>
  Add a Card:
  <%= form_with(model: [ @cube, @cube.cube_cards.build ], local: true, id: "selection-card") do |form| %>
  <p>
    <%
      select_options = Pokemon::Set.all
    %>
    <%= form.select :set_id do %>
      <% select_options.each do |set_option| %>
          <%= content_tag :option, set_option.name, value: set_option.code %>
      <% end %>
    <% end %>
    <%= form.number_field :card_number, in:1..300, step: 1 %>
  </p>
  <p>
    <%= form.submit %>
  </p>
  <p>
    <img id="card-preview" alt="card preview" />
  </p>
  <% end %>
</p>
<%= javascript_include_tag :forced %>
