<fieldset><legend><h2>Edit Cube</h2></legend>
<%= form_with(model: @cube) do |form| %>

  <% if @cube.errors.any? %>
    <fieldset id="error_explanation">
      <legend>
        <%= pluralize(@cube.errors.count, "error") %> prohibited
        this cube from being saved:
      </legend>
      <ul>
        <% @cube.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div><%= form.label :name %></div>
    <%= form.text_field :name %>
  </div>

  <div>
    <div><%= form.label :description %></div>
    <%= form.text_area :description %>
  </div>

  <div>
    <div><%= form.label :image %></div>
    This feature not yet available on pokecube. Check back soon!
  </div>

  <div>
    <%= check_box_tag :private, "1", @cube.private %>
    <%= label_tag(:private, "This is a private cube") %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
</fieldset>

<%= link_to 'Back', cubes_path %>

<p>
  <%= link_to 'Permanently delete this cube', cube_path(@cube),
          method: :delete,
          data: { confirm: 'Are you sure you want to permanently delete this cube? (THERE IS NO UNDOING THIS!)' } %>
</p>
